*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button{
  cursor: pointer;
  border:none;
  border-radius: 4px;
}

ul,
ol{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
main {
    flex-grow: 1;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    width: 1158px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .header-navigation-container {
    display: flex;
  }

  .menu {
    display: flex;
    align-items: center;
    margin-right: auto;
  }

a{
    color: inherit;
    text-decoration: none;
}



.paragraph{
  padding: 120px 0;
}

.container.paragraph-container{
margin: 0 auto;

}

.paragraph-list {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;

}

.paragraph-list-item{
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.paragraph-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.paragraph-title-name{
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.paragraph-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}



/* Header */

.header {
  border-bottom: 1px solid #e7e9fc 
  
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-part-header {
    color: #2e2f42;
}

.nav-menu-list{
    display: flex;
    gap: 40px;
    padding: 24px 0;
    margin: 0;
}

.menu-list {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    padding: 24px 0;
}

.menu-list:hover,
.menu-list:focus {
    color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-list {
  padding: 0;
}

.contacts-item {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-item:hover,
.contacts-item:focus {
    color: #404bbf;
}

/* Main-content*/

h2 {
    font-size: 36px;
    color: #2e2f42;
    text-transform: capitalize;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
}

h3 {
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
}

.post-card {
    padding: 188px 0;
    background-color: #2E2F42;  
}

.title-post-card {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    max-width: 496px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.07;
    
}

.post-card-button {
    color: #ffffff;
    background: #4d5ae5;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    border: none;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4d5ae5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;

}

.post-card-button:hover,
.post-card-button:focus {
    color: #ffffff;
    background: #404bbf;
}

.paragraph {
    background-color: #ffffff;
}

/* Team section */

.team {
    padding: 120px 0;
    background:  #f4f4fd;
  }
  .container.section-team-container {
    background: #f4f4fd;
    padding-left: 15px;
    padding-right: 15px;
    flex-shrink: 0;
  }
  .team-title {
    color:  #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .team-list {
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
  }
  
  .team-cards {
    border-radius: 0px 0px 4px 4px;
    background:  #fff;
    width: calc((100% - 72px) / 4);
  }
  .team-name-profession {
    padding: 32px 0;
  }
  
  .team-name {
    color: var(--NAVY-BLUE, #2e2f42);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
  }
  .team-profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
  }

/* Portfolio  section */

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding: 0;
}

.portfolio-list-item{
  width: calc((100% - 48px) / 3);
}

.portfolio-title{
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.name-products{
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  width: 360px;
}

.portfolio-title-card{
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

}

.portfolio-paragraph{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Footer */

.container.footer-container {
    padding-left: 15px;
    flex-shrink: 0;
  }

footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    width: 264px;
    font-weight: 400;
}

.footer-logo{
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
}

.logo-part {
    color: #f4f4fd;
}